<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
        <style>
      body {
        background-color: #fce303; 
      }
    </style>
  </head>
  <body style="text-align:center;">

    <header class="page-header" role="banner" style="padding-bottom:0px">
      <img src="images/actnormal.PNG" alt="Image" width="1000" height="550">
      <h2>Brackeys GameJam 2024 Submission</h2>
      {% if site.github.is_project_page %}
        <a href="https://github.com/AdamKhaddaj/ActNormal" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      <header>
        <h1 style="font-size:32px">Summary</h1>
      </header>
      <p style="padding-left:400px; padding-right:400px">
        In "Act Normal", you've just accidentally taken 3 tabs of acid. Unfortunately, you need to serve wine at an office party filled with insufferable businessmen for the remaining five minutes of your shift. You need to keep it together and not get fired. 
        <br><br>
        This was a submission for the Brackeys 2024.2 GameJam, in which the theme was "Calm Before the Storm".
        <br><br>
        You can download and play this project by visiting <a href="https://github.com/AdamKhaddaj/ActNormal">here</a>, downloading the zip file, and running the exe.
        <br><br>
        All scripts, shaders, and assets were created by Adam Khaddaj and  <a href="https://github.com/LeoMcCarthyKennedy">Leo McCarthy Kennedy</a>. Walking animations for the NPC's are from Mixamo. 
      </p>
      <header>
        <h1 style="font-size:32px">Screenshots</h1>
      </header>
      <img src="images/dialogue2.PNG" alt="Image" width="800" height="450">
      <img src="images/tripping.PNG" alt="Image" width="800" height="450">
      <img src="images/dialogue.PNG" alt="Image" width="800" height="450">
      <img src="images/shootGlass.PNG" alt="Image" width="800" height="450">
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
